.container {
  /* font-family: Helvetica, Arial, sans-serif; */
  padding: 1rem 2rem;
  margin: 1rem auto;
}

.container h1 {
  font-size: 2em;
  font-weight: 400;
}

.container h1 a {
  text-decoration: none;
}

.container h2 {
  font-size: 1rem;
  font-weight: 800;
  margin: 0.2rem 0;
  margin-bottom: 1rem;
}

.container h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.2rem 0;
}

.container ul {
  list-style-type: '– ';
  padding-left: 1rem;
  margin: 0.2rem 0;
}

.header {
  grid-column-start: 2;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

.contact {
  margin: 0.2rem 0;
}

.company {
  padding-left: 1rem;
  margin: 0.2rem 0;
}

.title {
}

.content {
}

.dates {
  padding-left: 2rem;
  margin: 0.2rem 0;
}

.block {
  margin: 0.2rem 0;
  margin-bottom: 1rem;
}

@media (min-width: 210mm) {
  .container {
    width: 210mm;
    display: grid;
    grid-template: auto / 40mm 1fr;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }
}

@media (prefers-color-scheme: dark) {
  @media (min-width: 210mm) {
    .container {
      box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
    }
  }

  .header {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.8);
  }
}

@media print {
  @page {
    size: 210mm 297mm;
  }
  .container {
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
  .container a {
    text-decoration: none;
  }
}
