@page {
  size: 21cm 29.7cm;
}

.container {
  width: 210mm;
  padding: 1rem 2rem;
  display: grid;
  grid-template: repeat(5, min-content) / 150px max-content;
  margin: 1rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

@media print {
  .container {
    box-shadow: none;
  }
}
.container h1 {
  font-size: 2em;
  font-weight: normal;
}

.container h2,
.container h3 {
  font-size: 1rem;
  font-weight: bold;
}

.container ul {
  list-style-type: none;
  padding-left: 0;
}

.header {
  grid-column-start: 2;
  border-bottom: 0.2rem solid black;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.title {
}
.content {
}
